
#pop-up{
    z-index: 1000;
    width: 520px;
    height: 678px;
    padding: 50px;
    /* margin-top: 10px; */
    margin-top: 85px;
    position: relative;
    top: 35%;
    left:50%;
    transform:translate(-50%, -50%);
    position: fixed;
   
    
}

@media (max-width:900px) {
    #pop-up {
        z-index: 1000;
        width: 420px;
        height: 578px;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 70px;
        position: relative;
        top: 35%;
        left: 50%;
        transform:translate(-50%, -50%);
        position: fixed;
        
    }
} 




#pop-up button{
display: block;
margin: 0 0 10px auto;
background-color: white;
font-size: 20px;
color: red;
border:red;
border-radius: 100px;
outline: red;
cursor: pointer;
height: 21px;


}







#pop_bottom{
background-color: white;
height: 50px;
}

/* Minitries CSS */
#img-center img{
    width: 10px !important;
    height: 52px;
    margin: 1000px;
    
}

/* #container-min {
    margin: 10px !important;
} */

/* #container-min p{
    margin: 10px !important;
    color: red;
} */


